<section class="container content">
  <!-- Contenedor del título con imagen de fondo y overlay -->
  <div class="title-container">
    <h2
      class="title-text"
      data-aos="fade-up"
      data-aos-delay="300"
      data-aos-duration="1000"
    >
      Acerca de Tequila
    </h2>
  </div>

  <!-- Contenedor del contenido textual -->
  <div class="container text-content">
    <h2>Su Magia</h2>
    <p>
      Es el corazón de la industria del emblemático destilado, pero este pueblo es
      mucho más que solo la bebida. Es toda la cultura amigable en torno a su
      sabor, su historia y su preparación, y es también una serie de paisajes
      únicos en el mundo.
    </p>

    <h2>El motivo</h2>
    <h3>Paisaje agavero y destilerías de tequila</h3>
    <ul>
      <li>
        El paisaje agavero fue declarado Patrimonio Mundial por la UNESCO desde 2006.
      </li>
      <li>Comprende un área de 34,658 hectáreas.</li>
      <li>
        Cultivo del agave es parte de la identidad nacional. El agave azul se ha
        usado desde el siglo XVI y aproximadamente hace dos mil años para producir
        bebidas fermentadas.
      </li>
      <li>
        Su proceso y, desde luego, su producto, no tiene parangón en el mundo.
      </li>
      <li>
        Hay destilerías desde el siglo XVIII (Cuervo) y otras recién fundadas; grandes
        y pequeñas; totalmente tecnificadas y artesanales.
      </li>
    </ul>

    <h2>Lo básico</h2>
    <p>El paisaje agavero y su bebida emblemática.</p>

    <h2>Imprescindibles</h2>
    <ol>
      <li>
        Visitar cuando menos dos fábricas de tequila con todo y degustación.
      </li>
      <li>Cabalgar entre los campos de tequila.</li>
      <li>
        Pernoctar en La Cofradía, el único hotel con fábrica de tequila.
      </li>
    </ol>
  </div>
</section>
