.content {
  .title-container {
    position: relative;
    background-image: url('/assets/images/Attractions/title.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 9vw;
    margin-bottom: 9vw;

    @media (min-width: 576px) {
      border-radius: 30px;
    }

    // Overlay semitransparente para oscurecer la imagen de fondo
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 20px;
      z-index: 1;

      @media (min-width: 576px) {
        border-radius: 30px;
      }
    }

    .title-text {
      position: relative;
      font-size: 1.5rem;
      font-weight: 700;
      color: white;
      line-height: 1.2;
      text-align: center;
      padding: 4.8vw 0;
      z-index: 2;

      @media (min-width: 576px) {
        font-size: 2.5rem;
      }

      @media (min-width: 991px) {
        font-size: 3.5rem;
      }
    }
  }

  .text-content {
    padding: 20px;

    // Aplicación de la animación fadeInUp a las etiquetas de texto
    h2,
    h3,
    p,
    ul,
    ol {
      animation: fadeInUp 1s ease forwards;
    }

    h2 {
      font-size: 1.8rem;
      margin-bottom: 10px;
      font-weight: bold; // Negrita para los h2
      color:black;
      margin-top: 20px;
      margin-bottom: 20px;

      @media (min-width: 576px) {
        font-size: 2.2rem;
      }

      @media (min-width: 991px) {
        font-size: 2.6rem;
      }
    }

    h3 {
      font-size: 1.5rem;
      margin-bottom: 10px;

      @media (min-width: 576px) {
        font-size: 1.8rem;
      }

      @media (min-width: 991px) {
        font-size: 2.1rem;
      }
    }

    p,
    ul,
    ol {
      font-size: 1rem;
      margin-bottom: 15px;
      color: black; // Los párrafos serán de color negro
      margin-top: 20px;
      margin-bottom: 20px;
      line-height: 1.6; // Mejora la legibilidad del texto
      font-weight: 400; // Peso normal para los párrafos

      @media (min-width: 576px) {
        font-size: 1.2rem;
      }

      @media (min-width: 991px) {
        font-size: 1.4rem;
      }
    }

    ul,
    ol {
      padding-left: 20px;

      li {
        margin-bottom: 10px;
      }
    }
  }
}

// Definición de keyframes para la animación fadeInUp
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
