<section>
  <div class="container content">
    <div class="tag" data-aos="fade-right" data-aos-delay="100" data-aos-duration="1000">
      <p>Inicio</p>
      <p>/</p>
      <p style="color: #C4819F;">Jalisco</p>
    </div>
    <div class="info">
      <div data-aos="fade-right" data-aos-delay="300" data-aos-duration="1000">
        <h1>Tequila</h1>
        <p>Camina entre campos de agave azul, cata el destilado más famoso de México y explora las antiguas fábricas de
          tequila</p>
      </div>
      <div class="data" data-aos="fade-right" data-aos-delay="500" data-aos-duration="1000">
        <div class="weather">
          <img src="/assets/images/icons/lluvia.png" alt="clima">
          <div class="info-weather">
            <p style="font-family: 'Open Sans Bold';">Clima actual</p>
            <p>Lluvia moderada</p>
          </div>
        </div>
        <div class="temp">
          <p>22°</p>
        </div>
        <div class="humidity">
          <p>87%</p>
          <p class="text">Humedad</p>
        </div>
      </div>
    </div>
  </div>
</section>
