nav {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  .black {
    background-color: black;
  }
  .container {
    .content {
      width: 100%;
      padding: 10px 0px;
      .nav-mobile {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        .search,
        .menu {
          display: flex;
          align-items: center;
          width: fit-content;
          cursor: pointer;
        }
        .logo {
          display: flex;
          align-items: center;
          height: 50px;
          img {
            height: 45px;
            width: fit-content;
          }
        }
      }
    }
  }
}
.search-content {
  transition: all 0.3s ease-in-out;
  height: fit-content;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.566);
  &.display {
    pointer-events: all;
    opacity: 1;
  }
  .input {
    padding: 18px 0px;
    position: relative;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    input {
      outline: none;
      border: none;
      width: 100%;
      border-radius: 20px;
      background-color: white;
      padding: 10px 30px;
    }
    ::placeholder {
      color: #000000;
    }
    svg {
      position: absolute;
      right: 18px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.menu-content {
  .menu-mobile {
    padding: 50px 24px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
    height: 100%;
    .menu {
      height: fit-content;
      display: flex;
      flex-direction: column;
      gap: 50px;
      .logo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        img {
          width: 100%;
          max-width: 80%;
          object-fit: contain;
        }
        button {
          width: fit-content;
          background-color: transparent;
          border: none;
        }
      }
      .routes {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-left: 30px;
        a {
          width: fit-content;
          text-decoration: none;
          font-size: 16px;
          color: #cdcdcd;
        }
      }
    }
    .last {
      padding-left: 20px;
      p {
        color: #cdcdcd;
        font-size: 12px;
        line-height: 1.2;
      }
    }
  }
}
