<section>
  <div class="container content">
    <img src="assets/images/texture_icons2_alt.svg" alt="ribbon" class="ribbon" />

    <!-- Grupo de los 3 logos alineados en una fila -->
    <div class="logos">
      <img src="/assets/images/favicon.png" alt="logo" class="logo" />
      <img src="/assets/images/logos/tequila-removebg-preview.png" alt="tequila logo" class="tequila-logo" />
      <img src="/assets/images/logos/mex2.png" alt="mexico desconocido icon" class="mexico-desconocido-icon" />
    </div>

    <!-- Línea separadora gris -->
    <div class="separator-line"></div>

    <!-- Sección de Redes Sociales usando imágenes -->
    <div class="social-icons">
      <a href="#" aria-label="Facebook">
        <img src="assets/images/icons/facebook.png" alt="Facebook Icon" />
      </a>
      <a href="#" aria-label="Twitter">
        <img src="assets/images/icons/twitter.webp" alt="Twitter Icon" />
      </a>
      <a href="#" aria-label="Instagram">
        <img src="assets/images/icons/instagram.png" alt="Instagram Icon" />
      </a>
      <a href="#" aria-label="YouTube">
        <img src="assets/images/icons/youtube.png" alt="YouTube Icon" />
      </a>
      <a href="#" aria-label="TikTok">
        <img src="/assets/images/icons/tiktok.png" alt="TikTok Icon" />
      </a>
    </div>

    <!-- Contenedor para Información de Contacto e Información adicional -->
    <div class="info-container">
      <!-- Información de Contacto -->
      <div class="contact-info">
        <h2>Contáctanos</h2>
        <p>Secretar&iacute;a de Turismo</p>
        <p>M&eacute;xico Desconocido</p>
      </div>

      <!-- Información adicional -->
      <div class="information">
        <h2>Informaci&oacute;n</h2>
        <a href="#">Registro de Proveedores</a>
      </div>
    </div>

    <!-- Icono inferior (México en Colores) -->
    <img src="/assets/images/logos/mexicoColores.png" alt="mexico icon" class="mexico-icon" />
  </div>
</section>
